<%= form_for @howl do |h| %>


<% if h.object.errors.any?%>
  <div class="col xs12 s12">
    <% h.object.errors.full_messages.each do |x|%>
      <li>Error: <%= x %></li>
      <li>Howl was not heard :(</li>
    <% end %>
  </div>
  <% end %>

  <div class="input-field col xs12 sr12 m12">
    <div class="active">
      <%= h.label :message %>
    </div>
    <div class="validate">
      <%= h.text_field :message %>
    </div>
  </div>

  <div class="input-field col xs12 sr12 m12">
    <div class="active">
      <%= h.label :howl_image %>
    </div>
    <div class="validate">
      <%= h.text_field :howl_image %>
    </div>
  </div>


  <div class="input-field col xs12 sr12 m12">
<!-- DROPDOWN PICK A WOLF -->
    <select class="icons" id="wolf" name="wolf_id">
      <option value="" disabled selected>Who's Howling?</option>
      <% @wolves.each do |w| %>
        <option value="<%= w.id %>" data-icon="<%= w.picture_url %>" class="circle right">
          <%= w.name %>
        </option>
      <% end %>
    </select>
    <label>Who's Howling?</label>
  </div><br><br>

  </div>


  <div class="col sm12">
    <span class="waves-effect right waves-light newPackBtn btn  red darken-3">
      <%= h.submit %>
    </span>
  </div>
<% end %>
