
<%= form_for @wolf do |w| %>

<!-- form -->
<% if w.object.errors.any?%>
  <div class="col xs12 s12">
    <% w.object.errors.full_messages.each do |x|%>
      <p>Error: <%= x %></p>
      <p>Wolf was not saved :(</p>
    <% end %>
  </div>
  <% end %>

  <div class="input-field col xs12 sr12 m12">
    <div class="active">
    <%= w.label :name %>
    </div>
    <div class="validate">
      <%= w.text_field :name %>
    </div>
  </div>

  <div class="input-field col xs12 s12 m12">
    <div class="active">
    <%= w.label :profile_image %>
    </div>
    <div class="validate">
    <%= w.text_field :profile_image %>
    </div>
  </div>

  <div class="input-field col xs12 s12 m12">
    <div class="active">
    <%= w.label :bio %>
    </div>
    <div class="validate">
    <%= w.text_field :bio %>
    </div>
  </div>

  <div class="col sm12 valign-wrapper">
    <span class="valign waves-effect right waves-light newPackBtn btn  red darken-3">
      <%= w.submit %>
    </span>
  </div>
<% end %>
  