<div class="container">
	<div class="row">
		<div class="col s10 offset-s1 center-align">
			<h5>You have <%= Wolf.count %> wolves in your pack</h5>
		</div>
	</div>
	<!-- FORMAT THIS -->
	<% if flash[:notice] %>
	  <div class="flash notice row">
	    <p><%= flash[:notice] %></p>
	  </div>
	<% end %>
</div>

<div class="container">
	<ul class="collection">
	<% if @wolves.any? %>
			<% @wolves.each do |w| %>
			<li class="collection-item avatar">
	      <img src="<%= w.profile_image %>" alt="" class="circle wolfProfileImageSmall">
	      <span class="title"><%= link_to w.name, wolf_path(w) %></span>
	      <p><%= w.bio %></p>
	      <a href="#!" class="secondary-content numHowls">3 howls</a>
			</li>
	<% end %>
		</ul>
	<% else %>
		<p>Sorry.  No wolves here!</p>
	<% end %>
	<div class=" valign-wrapper row">
		<%= link_to new_wolf_path do %>
			<span class= "valign">
				<i class="waves-effect right waves-light newPackBtn btn  red darken-3">New Pack Member</i>
			</span>
		<% end %>
	</div>
</div>
