	<div class="container">
		<div class="row">
		<% if flash[:notice] %>
		  <div class="flash notice col 12">
		    <p><%= flash[:notice] %></p>
		  </div>
		<% end %>
		</div>
		<ul class="collection">
			<li class="col sm4 collection-item avatar">
				<img class="wolfProfileImageBig circle" src="<%= @wolf.profile_image %>">
			<span class="title">
				<%= @wolf.name %>
			</span>
			<span class="secondary-content">
				<%= link_to edit_wolf_path(@wolf) do %>
			  	<i class="tiny material-icons orange-text text-lighten-2">edit_mode</i>
				<% end %>
				<%= link_to wolf_path(@wolf), method: :delete do %>
			  	<i class="tiny material-icons orange-text text-lighten-2">delete</i>
				<% end %>
			</span>
			<p><%= @wolf.bio %></p>
			</li>
		</ul>
		<div class="row">
			<%= link_to :wolves do %>
				<i class="waves-effect right waves-light newPackBtn btn  red darken-3">Return To Pack</i>
			<% end %>
		</div>
	</div>
