	<div class="container">
		<div class="row">
		<% if flash[:notice] %>
		  <div class="flash notice col 12">
		    <p><%= flash[:notice] %></p>
		  </div>
		<% end %>
			<div class="col sm4">
				<img class="wolfProfileImageBig" src="<%= @wolf.profile_image %>">
			</div>
			<div class="col s8 right">
				<h4><%= @wolf.name %></h4>
				<p><%= @wolf.bio %></p>
			</div>
		</div>
		<div class="row">
			<p><%= link_to "Edit Wolves", edit_wolf_path(@wolf) %></p>
			<p><%= link_to "Delete Wolves", wolf_path(@wolf), :method=>:delete %></p>
			<p><%= link_to "Go To Pack", :wolves %></p>


<p><%= link_to "All Postings", :wolves %></p>

<p><%= link_to "Edit Wolves", edit_wolf_path(@wolf) %></p>
<p><%= link_to "Delete Wolves", wolf_path(@wolf), :method=>:delete %></p>
